* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f172a;
  color: #fff;
  font-family: Arial;
  text-align: center;
  padding: 30px;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.tab {
  padding: 10px 18px;
  background: #1e293b;
  border: none;
  color: #fff;
  cursor: pointer;
}

.tab.active {
  background: #38bdf8;
  color: #000;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.lista {
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  gap: 15px;
  justify-content: center;
  max-width: 1000px;
  margin: 20px auto;
}

.item {
  background: #1e293b;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal.active {
  display: flex;
}

.modal-content {
  background: #020617;
  padding: 20px;
  border-radius: 12px;
  max-height: 90vh;
  overflow-y: auto;
}

.details-layout {
  display: flex;
  gap: 20px;
  max-width: 700px;
}

.details-image img {
  width: 220px;
  height: 320px;
  object-fit: cover;
  border-radius: 10px;
}

.details-info {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#detailsAssistir {
  color: #38bdf8;
  font-weight: bold;
  text-decoration: none;
}
